@tailwind base;
@tailwind components;
@tailwind utilities;

.container-width {
    width: min(90%, 1440px);
    margin: auto;
}

.aboba {
    padding-inline: min(5%, 240px);
}
.aboba::-webkit-scrollbar {
    display: none;
}
